{% extends 'bs_base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1>About me</h1>
        <p class="lead">My name is Nathan R. Smith. I'm a Python developer exploring the power of Django for web development</p>
        <p class='lead'>
        Site & examples built with Django 1.8. Template scheme built using Bootstrap for layout & style</p>
        <p class='lead'>Hire me on <a href="https://www.upwork.com/freelancers/~01799496f864b1911a">Upwork</a> freelance site</p>
        <p class="lead">Contact <br> nrsmith012@gmail.com</p>
    </div>

{% endblock %}
