{% extends "bs_base.html" %}

{% block content %}
<!--<div class="row marketing">-->

    <div class="maindisp">
        <h4>First-Lady-Swap Game</h4>
        <p>A historically far-fetched survey/game demo</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/firstladyswap/" role="button">See More</a>
            <a class="btn btn-lg btn-primary" href="/firstladyswap/1/voting/" role="button">Play Now</a>
        </p>

    </div>
    <div class="maindisp">
        <h4>Post Recipes - Recipe Sharing App</a> </h4>
        <p>Browse and share your favorite recipes with this demo</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/postrecipes/" role="button">Visit Post Recipes</a>
        </p>

    </div>


<!--</div>-->

{% endblock %}